<div class="col-md-8 col-md-offset-2">
	<div class="row">
		<div class="container-fluid">
			<h1><%= link_to "Political Board", root_path %></h1>
			<div>
				<% @all[0].each do |link| %>
				  <div class="row item-row">
				  	<img src="<%=link.thumbnail%>">
				  	<span class="title"><%= link.title %></span>
				  	<span class="desc"><%= link.description %></span>
				  </div>
				<% end -%>
			</div>
		</div>
	</div>
</div>

